<tr class="even:bg-gray-50">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-center font-medium text-gray-900 sm:pl-3"><%= link_to order.id, order_path(order) %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-center text-gray-500">
    <%= link_to order.customer_name, order_path(order) %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-center text-gray-500">
    <%= link_to order_path(order) do %>
      <%= number_to_currency order.total, unit: "£" %>
    <% end %>
  </td>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-center font-medium text-gray-900 sm:pl-3">
    <%== order.completed? ? '✔️' : "❌" %>
  </td>
</tr>