<h1 class="mt-10 mb-3 text-2xl font-semibold leading-7 text-gray-900 text-center">Order <%= @order.id %></h1>
<div class="text-sm text-gray-500 text-center mb-10">
  Placed at <%= @order.created_at.strftime("%H:%M on %d %B %Y") %>
</div>

<div class="max-w-lg mx-auto">
  <div>
    <span class="font-semibold">Name:</span>
    <%= @order.customer_name %>
  </div>

  <div>
    <span class="font-semibold">Email:</span>
    <%= @order.customer_email %>
  </div>

  <div>
    <span class="font-semibold">Phone:</span>
    <%= @order.customer_phone %>
  </div>

  <ul>
    <% @order.items.each do |item| %>
      <li class="flex border-b py-3">
        <div><%= item.name %>
        </div>
        <div class="ml-auto">
          <%= number_to_currency item.price, unit: "£" %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="flex border-t py-3">
    <div class="font-bold">Total:</div>
    <div class="ml-auto font-bold">
      <%= number_to_currency @order.total, unit: "£" %>
    </div>
  </div>

  <%= form_with model: @order do |f| %>
    <%= f.label :completed, @order.completed ? "Mark as incomplete" : "Mark as completed", for: 'order-complete-checkbox' %>
    <%= f.check_box :completed, id: "order-complete-checkbox" %>
  <% end %>
</div>