<%= button_to 'Logout', destroy_restaurant_session_path, method: :delete %>

<% @menu_sections.each do |menu_section| %>
  <div>
    <h3><%= menu_section.name %></h3>
    <%= button_to 'Kill', menu_section_path(menu_section), method: :delete %>

    <ul>
      <% menu_section.items.each do |item| %>
        <li>
          <%= item.name %> | <%= item.description %> | <%= item.price %>
          <%= button_to 'Kill bill', menu_section_item_path(menu_section, item), method: :delete %>
          <%= link_to 'Edit', edit_menu_section_item_path(menu_section, item) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'New', new_menu_section_path %>