<!DOCTYPE html>
<html>
  <head>
    <title>Orderly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <% if current_restaurant %>
      <% if !(controller_name == 'orders' && action_name == 'new') %>
        <%= render 'header' %>
        <p class="notice text-center text-green-900"><%= notice %></p>
        <p class="alert text-center text-red-700"><%= alert %></p>
      <% end%>
      <div class="mx-auto max-w-7xl px-3">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
